<mat-dialog-content class="mat-typography">
    <h2 mat-dialog-title>View Contact</h2>

    <div class="d-flex m-4">
        <mat-icon>person</mat-icon>
        <span class="p-1"></span>
        <th>Name :</th>
        <span class="p-2"></span>
        <td>{{viewDatas.Details[0].fname}}</td>
    </div>
    <div class="d-flex m-4">
        <mat-icon>email</mat-icon>
        <span class="p-1"></span>
        <th>Email :</th>
        <span class="p-2"></span>
        <td>{{viewDatas.Details[0].email}}</td>
    </div>
    <div class="d-flex m-4">
        <mat-icon>location_on</mat-icon>
        <span class="p-1"></span>
        <th>Company :</th>
        <span class="p-2"></span>
        <td>{{viewDatas.Details[0].cname}}</td>
    </div>
    <div class="d-flex m-4">
        <mat-icon>call</mat-icon>
        <span class="p-1"></span>
        <th>Phone No :</th>
        <span class="p-2"></span>
        <td>{{viewDatas.Details[0].phoneno}}</td>
    </div>

    <button mat-dialog-close (click)="close()" class="btn btn">Cancel</button>
</mat-dialog-content>