@media screen and (min-width: 769px) {
    mat-card {
        overflow: auto !important;
    }
}

@media screen and (min-width: 375px) and (min-width: 667px) {
    mat-card {
        overflow: auto !important;
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    mat-card {
        overflow: auto !important;
    }
}

@media only screen and (max-device-width: 480px) {
    mat-card {
        overflow: auto !important;
    }
}
